In [1]:
import pandas as pd
import json

# Schüler*abgängerinnen ohne Schulabschluss 2015 in Niedersachsen

### __Step1__: Abfrage über https://api-next.datengui.de/graphiql

```
{
  allRegions(page: 0, itemsPerPage: 1000) {
    regions(parent: "03", nuts: 3) {
      name
      BILABS(GES:GESAMT, BILAG2:[BILABS11, GESAMT], year:2015) {
        value
        year
      }
    }
  }
}
```

### __Step 2__: Daten manuell kopieren und in json-File speichern: "abs_15-nds.json"

### __Step 3__: Hier mit python weiterarbeiten.

In [2]:
data = json.load(open('abs_15-nds.json'))

In [3]:
data

{'data': {'allRegions': {'regions': [{'name': 'Braunschweig',
     'BILABS': [{'value': 2612, 'year': 2015}, {'value': 130, 'year': 2015}]},
    {'name': 'Salzgitter',
     'BILABS': [{'value': 1017, 'year': 2015}, {'value': 49, 'year': 2015}]},
    {'name': 'Wolfsburg',
     'BILABS': [{'value': 1447, 'year': 2015}, {'value': 41, 'year': 2015}]},
    {'name': 'Gifhorn',
     'BILABS': [{'value': 1664, 'year': 2015}, {'value': 66, 'year': 2015}]},
    {'name': 'Göttingen',
     'BILABS': [{'value': 2486, 'year': 2015}, {'value': 105, 'year': 2015}]},
    {'name': 'Goslar',
     'BILABS': [{'value': 1200, 'year': 2015}, {'value': 54, 'year': 2015}]},
    {'name': 'Helmstedt',
     'BILABS': [{'value': 831, 'year': 2015}, {'value': 73, 'year': 2015}]},
    {'name': 'Northeim',
     'BILABS': [{'value': 1571, 'year': 2015}, {'value': 71, 'year': 2015}]},
    {'name': 'Osterode am Harz',
     'BILABS': [{'value': 656, 'year': 2015}, {'value': 20, 'year': 2015}]},
    {'name': 'Peine',
     'BILABS': [{'value': 1515, 'year': 2015}, {'value': 71, 'year': 2015}]},
    {'name': 'Wolfenbüttel',
     'BILABS': [{'value': 1168, 'year': 2015}, {'value': 65, 'year': 2015}]},
    {'name': 'Göttingen', 'BILABS': []},
    {'name': 'Region Hannover',
     'BILABS': [{'value': 11277, 'year': 2015}, {'value': 536, 'year': 2015}]},
    {'name': 'Diepholz',
     'BILABS': [{'value': 2414, 'year': 2015}, {'value': 71, 'year': 2015}]},
    {'name': 'Hameln-Pyrmont',
     'BILABS': [{'value': 1615, 'year': 2015}, {'value': 88, 'year': 2015}]},
    {'name': 'Hildesheim',
     'BILABS': [{'value': 3133, 'year': 2015}, {'value': 216, 'year': 2015}]},
    {'name': 'Holzminden',
     'BILABS': [{'value': 668, 'year': 2015}, {'value': 57, 'year': 2015}]},
    {'name': 'Nienburg (Weser)',
     'BILABS': [{'value': 1470, 'year': 2015}, {'value': 79, 'year': 2015}]},
    {'name': 'Schaumburg',
     'BILABS': [{'value': 1673, 'year': 2015}, {'value': 54, 'year': 2015}]},
    {'name': 'Celle',
     'BILABS': [{'value': 1935, 'year': 2015}, {'value': 95, 'year': 2015}]},
    {'name': 'Cuxhaven',
     'BILABS': [{'value': 2013, 'year': 2015}, {'value': 83, 'year': 2015}]},
    {'name': 'Harburg',
     'BILABS': [{'value': 2621, 'year': 2015}, {'value': 60, 'year': 2015}]},
    {'name': 'Lüchow-Dannenberg',
     'BILABS': [{'value': 523, 'year': 2015}, {'value': 37, 'year': 2015}]},
    {'name': 'Lüneburg',
     'BILABS': [{'value': 1976, 'year': 2015}, {'value': 63, 'year': 2015}]},
    {'name': 'Osterholz',
     'BILABS': [{'value': 1226, 'year': 2015}, {'value': 39, 'year': 2015}]},
    {'name': 'Rotenburg (Wümme)',
     'BILABS': [{'value': 2021, 'year': 2015}, {'value': 107, 'year': 2015}]},
    {'name': 'Heidekreis',
     'BILABS': [{'value': 1627, 'year': 2015}, {'value': 110, 'year': 2015}]},
    {'name': 'Stade',
     'BILABS': [{'value': 2383, 'year': 2015}, {'value': 102, 'year': 2015}]},
    {'name': 'Uelzen',
     'BILABS': [{'value': 1023, 'year': 2015}, {'value': 34, 'year': 2015}]},
    {'name': 'Verden',
     'BILABS': [{'value': 1447, 'year': 2015}, {'value': 75, 'year': 2015}]},
    {'name': 'Delmenhorst',
     'BILABS': [{'value': 889, 'year': 2015}, {'value': 58, 'year': 2015}]},
    {'name': 'Emden',
     'BILABS': [{'value': 498, 'year': 2015}, {'value': 51, 'year': 2015}]},
    {'name': 'Oldenburg (Oldenburg)',
     'BILABS': [{'value': 1884, 'year': 2015}, {'value': 115, 'year': 2015}]},
    {'name': 'Osnabrück',
     'BILABS': [{'value': 2052, 'year': 2015}, {'value': 130, 'year': 2015}]},
    {'name': 'Wilhelmshaven',
     'BILABS': [{'value': 744, 'year': 2015}, {'value': 27, 'year': 2015}]},
    {'name': 'Ammerland',
     'BILABS': [{'value': 1375, 'year': 2015}, {'value': 55, 'year': 2015}]},
    {'name': 'Aurich',
     'BILABS': [{'value': 2279, 'year': 2015}, {'value': 159, 'year': 2015}]},
    {'name': 'Cloppenburg',
     'BILABS': [{'value': 2113, 'year': 2015}, {'value': 86, 'year': 2015}]},
    {'name': 'Emsland',
     'BILABS': [{'value': 3850, 'year': 2015}, {'value': 211, 'year': 2015}]},
    {'name': 'Friesland',
     'BILABS': [{'value': 1008, 'year': 2015}, {'value': 46, 'year': 2015}]},
    {'name': 'Grafschaft Bentheim',
     'BILABS': [{'value': 1610, 'year': 2015}, {'value': 122, 'year': 2015}]},
    {'name': 'Leer',
     'BILABS': [{'value': 1846, 'year': 2015}, {'value': 155, 'year': 2015}]},
    {'name': 'Oldenburg',
     'BILABS': [{'value': 1218, 'year': 2015}, {'value': 49, 'year': 2015}]},
    {'name': 'Osnabrück',
     'BILABS': [{'value': 3640, 'year': 2015}, {'value': 212, 'year': 2015}]},
    {'name': 'Vechta',
     'BILABS': [{'value': 1762, 'year': 2015}, {'value': 112, 'year': 2015}]},
    {'name': 'Wesermarsch',
     'BILABS': [{'value': 1090, 'year': 2015}, {'value': 60, 'year': 2015}]},
    {'name': 'Wittmund',
     'BILABS': [{'value': 719, 'year': 2015}, {'value': 40, 'year': 2015}]}]}}}

In [4]:
df = pd.DataFrame(data["data"]["allRegions"]["regions"])

In [5]:
df.head()

                                              BILABS          name
0  [{'value': 2612, 'year': 2015}, {'value': 130,...  Braunschweig
1  [{'value': 1017, 'year': 2015}, {'value': 49, ...    Salzgitter
2  [{'value': 1447, 'year': 2015}, {'value': 41, ...     Wolfsburg
3  [{'value': 1664, 'year': 2015}, {'value': 66, ...       Gifhorn
4  [{'value': 2486, 'year': 2015}, {'value': 105,...     Göttingen

In [6]:
df["BILABS"][0]

[{'value': 2612, 'year': 2015}, {'value': 130, 'year': 2015}]

In [7]:
def convert(df):
    for _, row in df.iterrows():
        for line in row['BILABS']:
            line['name'] = row['name']
            yield line

In [8]:
def convert(df):
    for _, row in df.iterrows():
        row['Gesamt'] = None
        row['Ohne Abschluss'] = None
        for line in row['BILABS']:
            line['name'] = row['name']
            if row['Gesamt'] == None:
                row['Gesamt'] = line['value']
                row['Ohne Abschluss'] = line['value']
            elif row['Gesamt'] < line['value']:
                row['Gesamt'] = line['value']
            else:
                row['Ohne Abschluss'] = line['value']
        yield row

In [9]:
df = pd.DataFrame(convert(df))
df.head()

,BILABS,name,Gesamt,Ohne Abschluss
0,"[{'value': 2612, 'year': 2015, 'name': 'Brauns...",Braunschweig,2612.0,130.0
1,"[{'value': 1017, 'year': 2015, 'name': 'Salzgi...",Salzgitter,1017.0,49.0
2,"[{'value': 1447, 'year': 2015, 'name': 'Wolfsb...",Wolfsburg,1447.0,41.0
3,"[{'value': 1664, 'year': 2015, 'name': 'Gifhor...",Gifhorn,1664.0,66.0
4,"[{'value': 2486, 'year': 2015, 'name': 'Göttin...",Göttingen,2486.0,105.0

In [10]:
df.columns

Index(['BILABS', 'name', 'Gesamt', 'Ohne Abschluss'], dtype='object')

In [16]:
df1 = df[['name', 'Gesamt', 'Ohne Abschluss']]

In [17]:
df1.head()

           name  Gesamt  Ohne Abschluss
0  Braunschweig  2612.0           130.0
1    Salzgitter  1017.0            49.0
2     Wolfsburg  1447.0            41.0
3       Gifhorn  1664.0            66.0
4     Göttingen  2486.0           105.0

In [21]:
df1['Anteil ohne Abschluss'] = (df1['Ohne Abschluss'] / df1['Gesamt'])*100

In [22]:
df1 = df1[['name', 'Anteil ohne Abschluss']]

In [23]:
df1 = df1.dropna()

In [24]:
df1.shape

(46, 2)

In [25]:
df1.to_csv('Anteil_ohne_Abschluss_15.csv')

In [26]:
df1.sort_values(by='Anteil ohne Abschluss').head(10)

                name  Anteil ohne Abschluss
21           Harburg               2.289203
2          Wolfsburg               2.833449
13          Diepholz               2.941176
8   Osterode am Harz               3.048780
24         Osterholz               3.181077
23          Lüneburg               3.188259
18        Schaumburg               3.227735
28            Uelzen               3.323558
34     Wilhelmshaven               3.629032
3            Gifhorn               3.966346

In [27]:
df1.sort_values(by='Anteil ohne Abschluss', ascending=False).head(10)

                   name  Anteil ohne Abschluss
31                Emden              10.240964
6             Helmstedt               8.784597
16           Holzminden               8.532934
41                 Leer               8.396533
40  Grafschaft Bentheim               7.577640
22    Lüchow-Dannenberg               7.074570
36               Aurich               6.976744
15           Hildesheim               6.894350
26           Heidekreis               6.760910
30          Delmenhorst               6.524184

In [28]:
df1

                     name  Anteil ohne Abschluss
0            Braunschweig               4.977029
1              Salzgitter               4.818092
2               Wolfsburg               2.833449
3                 Gifhorn               3.966346
4               Göttingen               4.223652
5                  Goslar               4.500000
6               Helmstedt               8.784597
7                Northeim               4.519414
8        Osterode am Harz               3.048780
9                   Peine               4.686469
10           Wolfenbüttel               5.565068
12        Region Hannover               4.753037
13               Diepholz               2.941176
14         Hameln-Pyrmont               5.448916
15             Hildesheim               6.894350
16             Holzminden               8.532934
17       Nienburg (Weser)               5.374150
18             Schaumburg               3.227735
19                  Celle               4.909561
20               Cuxhaven               4.123199
21                Harburg               2.289203
22      Lüchow-Dannenberg               7.074570
23               Lüneburg               3.188259
24              Osterholz               3.181077
25      Rotenburg (Wümme)               5.294409
26             Heidekreis               6.760910
27                  Stade               4.280319
28                 Uelzen               3.323558
29                 Verden               5.183138
30            Delmenhorst               6.524184
31                  Emden              10.240964
32  Oldenburg (Oldenburg)               6.104034
33              Osnabrück               6.335283
34          Wilhelmshaven               3.629032
35              Ammerland               4.000000
36                 Aurich               6.976744
37            Cloppenburg               4.070043
38                Emsland               5.480519
39              Friesland               4.563492
40    Grafschaft Bentheim               7.577640
41                   Leer               8.396533
42              Oldenburg               4.022989
43              Osnabrück               5.824176
44                 Vechta               6.356413
45            Wesermarsch               5.504587
46               Wittmund               5.563282